<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.0.xsd 
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
			http://www.springframework.org/schema/aop  
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
  	<!--服务端--> 
    <bean id="businessService" class="com.mnuocom.distributedjava.distributedjava1.springrmi.server.BusinessImpl"/>
    <!-- 将类为一个RMI服务 -->
    <bean id="rmiBusinessService" class="org.springframework.remoting.rmi.RmiServiceExporter">
    	<!-- 服务类 -->
    	<property name="service" ref="businessService"/>
    	<!-- 服务名 -->
    	<property name="serviceName" value="BusinessService"/>
    	<!-- 服务接口 -->
    	<property name="serviceInterface" value="com.mnuocom.distributedjava.distributedjava1.springrmi.server.Business"/>
    	<!-- 服务端口
		<property name="registryPort" value="9999" />
		 其他属性自己查看org.springframework.remoting.rmi.RmiServiceExporter的类,就知道支持的属性了-->
    </bean>
    
</beans>